@import "tailwindcss";

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

.nav-bar {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  color: #fff;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-bar a.active {
  font-weight: bold;
}

/* align last link to the right */
/* if a custom login group is added, this will need to be updated */
.nav-bar a:last-child {
  margin-left: auto;
}
